{% extends "base.html" %}

{% block content %}

<div class="hero">

    <h1>SkillPulse AI</h1>
    <p>
        AI powered Job Market & Skill Demand Intelligence Platform
    </p>

    <div class="hero-cards">

        <div class="hero-card">
            <h3>Live Job Market Data</h3>
            <p>Scraped and processed job descriptions.</p>
        </div>

        <div class="hero-card">
            <h3>Skill Extraction Engine</h3>
            <p>Automatically detects technical skills from jobs.</p>
        </div>

        <div class="hero-card">
            <h3>Skill Normalization</h3>
            <p>Converts noisy skills into standard skill names.</p>
        </div>

        <div class="hero-card">
            <h3>Market Analytics (Coming)</h3>
            <p>Skill demand trends and forecasting.</p>
        </div>

    </div>

</div>

{% endblock %}
